body {
    text-align: center;
    padding: 0px 40px;
}

p {
    color: rgb(38, 8, 67);
}

.card {
    background-color: plum;
    align-items: center;
    border: solid rgb(38, 8, 67);
    padding: 15px;
}

#ghibliMovieArt {
    align-self: center;
    align-items: center;
    padding: 20x;
    border: solid rgb(38, 8, 67);
}

#moreMovieInfo {
    padding: 8px;
    color: rgb(38, 8, 67);
}

